html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}



body {
  position: relative;
  display:flex;
  height: 100vh;
  width: 100vw;
  /*justify-content: center;*/
  /*flex-direction: column;*/
}


canvas {
  /*background-color: green;*/
  position: absolute;
  border: 2px solid black;
  background-image: url('../docs/wireframes/bgi-4.jpg');
  /*background-image: url('../docs/wireframes/background.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
}

canvas:hover {
  cursor: crosshair;
  /*cursor: url('http://www.skirmishsamford.com.au/images/crosshair.png');*/
}

.overLay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(150, 150, 150, 0.2);
  display: none;
}


.continue {
  position: absolute;
  color:white;
  border: 2px solid white;
}

.buttons {
  display: flex;
  /*border: 2px solid white;*/
  flex-direction: column;
  margin-top: 40%;
  margin-left: 10px;
  z-index: 3;
}


.restart {
  width: 50px;
  height: 50px;
}

.restart:hover {
  cursor: pointer;
}

.music {
  width: 50px;
  height: 50px;
  display: none;
}

.music:hover {
  cursor: pointer;
}

.mute {
  width: 50px;
  height: 50px;
  display: block;
}

.mute:hover {
  cursor: pointer;
}

/*.tutorial {
  width: 50px;
  height: 50px;
}

.tutorial:hover {
  cursor: pointer;
}*/

.start-page {
  position: absolute;
  /*border: 2px solid white;*/
  height: 40vh;
  width: 50vw;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  /*display: none;*/
}

.start-title {
  color: white;
  font-size: 90px;
  margin-left: 50px;
  margin-bottom: 15px;
  font-family: 'Bungee Inline', cursive;
  color: black;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.instruction {
  color: white;
  font-size: 30px;
  margin-left: 30px;
  font-family: 'Orbitron', sans-serif;
  color: #2f8ab6;
}

.diff-container {

}

.diffBox {
  display:flex;
  flex-direction: row;
  margin-left: 250px;
  margin-top: 20px;
}

.diffBox:hover {
  cursor: pointer;
}

.difficulty {
  display: flex;
  font-size: 40px;
  color: white;
  margin-left: 10px;
  font-family: 'Orbitron', sans-serif;
}

.dropdown {
  display: none;
  height: 46px;
  width: 46px;


}

.levels {
  color: white;
  margin-bottom: 30px;
  font-size: 30px;
  margin-left: 280px;
  font-family: 'Orbitron', sans-serif;
}

.level1 {
}

.level1:hover {
  cursor: pointer;
  color: #00f92d;
}

.level2 {
}

.level2:hover {
  cursor: pointer;
  color: yellow;
}

.level3 {
}

.level3:hover {
  cursor: pointer;
  color:red;
}

.links img {
  width:70px;
  height: 70px;
}

.github:hover {
  cursor:pointer;
}

.linkedin:hover {
  cursor: pointer;
}




.win-page {
  display: none;
  position: absolute;
  /*border: 2px solid white;*/
  height: 40vh;
  width: 50vw;
  flex-direction: column;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 3;
}

.win-title {
  font-size: 90px;
  margin-left: 50px;
  font-family: 'Bungee Inline', cursive;
  color: black;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.win-play-again {
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 15px;
  font-size: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.win-play-again:hover {
  cursor: pointer;
  color: #00ddfd;
}

.lose-page {
  display: none;
  /*border: 2px solid white;*/
  position: absolute;
  height: 40vh;
  width: 50vw;
  flex-direction: column;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 3;
}

.lose-title {
  font-size: 90px;
  margin-left: 80px;
  font-family: 'Bungee Inline', cursive;
  color: black;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

.lose-play-again {
  color: white;
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 15px;
  font-size: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.lose-play-again:hover {
  cursor: pointer;
  color: #00ddfd;
}
