body {
  display:flex;
  justify-content: center;
  /*flex-direction: column;*/
}



canvas {
  /*background-color: green;*/
  position: absolute;
  border: 2px solid black;
  background-image: url('../docs/wireframes/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas:hover {
  cursor: crosshair;
}
