body {
  position: relative;
  display:flex;
  height: 100vh;
  width: 100vw;
  /*justify-content: center;*/
  /*flex-direction: column;*/
}


canvas {
  /*background-color: green;*/
  position: absolute;
  border: 2px solid black;
  background-image: url('../docs/wireframes/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas:hover {
  cursor: crosshair;
}

.overLay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(180, 180, 180, 0.35);
  /*display: none;*/
}


.continue {
  position: absolute;
  color:white;
  border: 2px solid white;
}

.buttons {
  display: flex;
  /*border: 2px solid white;*/
  flex-direction: column;
  margin-top: 40%;
  margin-left: 10px;
  z-index: 3;
}


.restart {
  width: 50px;
  height: 50px;
}

.restart:hover {
  cursor: pointer;
}

.music {
  width: 50px;
  height: 50px;
  display: block;
}

.music:hover {
  cursor: pointer;
}

.mute {
  width: 50px;
  height: 50px;
  display: none;
}

.mute:hover {
  cursor: pointer;
}

.tutorial {
  width: 50px;
  height: 50px;
}

.tutorial:hover {
  cursor: pointer;
}

.start-page {
  display: flex;
  border: 2px solid white;
  height: 50vh;
  width: 50vw;
  flex-direction: row;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 300px;
  z-index: 3;
}

.start-title {
  color: white;
}

.diff-container {

}

.diffBox {
  display:flex;
  flex-direction: row;
}

.diffBox:hover {
  cursor: pointer;
}

.difficulty {
  display: flex;
  font-size: 40px;
  color: white;
  margin-left: 10px;
}

.dropdown {
  display: flex;
  height: 46px;
  width: 46px;
  /*border: 1px solid white;*/

}

.levels {
  color: white;
  margin-bottom: 30px;
  font-size: 30px;
  margin-left: 20px;
  display: none;
}

.level1 {
  border: 1px solid white;
}

.level1:hover {
  cursor: pointer;
}

.level2 {
  border: 1px solid white;
}

.level2:hover {
  cursor: pointer;
}

.level3 {
  border: 1px solid white;
}

.level3:hover {
  cursor: pointer;
}
